<div class="demo">

  <h2>The standard Yandex SmartCaptcha</h2>

  <form [formGroup]="form" action="">

    <smart-captcha
      [sitekey]="sitekey"
      formControlName="code" />

    <div>
      <button (click)="submit()">Отправить</button>
    </div>

    <div class="code">
      <b>Code: {{ form.get('code')?.value }}</b>
    </div>

  </form>

  <hr>

  <h2>The invisible Yandex SmartCaptcha</h2>

  <form [formGroup]="formInvisible" action="">

    <invisible-smart-captcha
      [test]="true"
      [visible]="visible()"
      (challengeHidden)="visible.set(false)"
      [sitekey]="sitekey"
      formControlName="code" />

    <div>
      <button (click)="submitInvisibleForm()">Отправить</button>
    </div>

    <div class="code">
      <b>Code: {{ formInvisible.get('code')?.value }}</b>
    </div>

  </form>


</div>
